<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<a href="/" class="btn btn-success">Volver</a>
h1 Productos:
each producto in productos
    h1= producto.title
    p="Precio:"
    p="$"+producto.price
    p="Imagen:"
    p=producto.thumbnail
    